@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        box-sizing: border-box;
    }

    html, body {
        height: 100%;
        margin: 0;
    }
}

@layer components {
    .form-btn {
        @apply text-center w-full bg-highlight hover:bg-highlight-hover hover:scale-[1.02] transition-all ease-out text-white py-3 rounded-md;
    }

    .link {
        @apply block py-2 px-5 hover:bg-slight-gray;
    }
}