@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        box-sizing: border-box;
    }

    html, body {
        height: 100%;
        margin: 0;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .btn-glow {
        box-shadow: 0 4px 30px rgba(255, 255, 255, 0.3);
    }

    .package-card-glow:hover {
        box-shadow: 0 5px 40px 0 rgba(89, 98, 132, 0.3);
    }

    .error-msg {
        @apply text-sm text-red-500 mt-2;
    }
}

@layer components {
    .form-btn {
        @apply text-center w-full bg-highlight hover:bg-highlight-hover hover:scale-[1.02] transition-all ease-out text-white py-3 rounded-md;
    }

    .link {
        @apply block py-2 px-5 hover:bg-slight-gray;
    }

    .carousel-btn {
        @apply h-full hover:bg-dark-gray hover:bg-opacity-20 transition-all duration-75 rounded-sm;
    }

    .underline-input {
        @apply border-b-med-gray border-b-2 flex items-center hover:border-gray-400 transition-all ease-out;
    }

    .underline-input-container {
        @apply my-8 w-full border-[3px] border-transparent border-b-dark-purple-highlight;
    }

    .commission-header {
        @apply text-2xl font-semibold 2xl:text-3xl;
    }

    .commission-round-btn {
        @apply rounded-full bg-dark-blue-highlight p-2 transition-transform duration-100 ease-out hover:scale-105;
    }
}